@import '../../assets/scss/variables';

.card__item__container {
    display: flex;
    max-width: 1000px;
    margin: auto;
    margin-top: 70px;

    .photo-gallery {
        width: 30%;
        margin-right: 30px;
        max-height: 250px;
    }

    .card__desc {
        width: 40%;

        p {
            margin: 20px 0;
        }

        .card__contact {
            margin-bottom: 10px;
            cursor: pointer;

            i {
                margin-right: 5px;
                transition: 0.2s;

                &:hover {
                    color: $mainColor;
                }
            }
        }
    }
}

.pageBack {
    margin: 20px;
    cursor: pointer;
    border-bottom: 1px solid transparent;

    i {
        margin-right: 5px;
    }

    span {
        color: black;

        &:hover {
            text-decoration: underline;
        }
    }
}

// comment section start ===========
.comments__section {
    max-width: 1000px;
    margin: auto;
    margin-top: 100px;

    h2 {
        margin-bottom: 15px;
    }

    .button {
        display: flex;
        justify-content: flex-end;
        margin-top: 5px;
    }

    .share {
        padding: 5px;
        border: 1px solid #474F4E;
        border-radius: 3px;
        cursor: pointer;
        transition: 0.3s;
        width: 70px;
        font-size: 14px;
        color: #fff;
        background-color: $mainColor;
        display: block;

        &:hover {
            background-color: #DB760A;
        }
    }

    .add__form {
        margin-bottom: 50px;
    }
}

.comment {
    position: relative;
    display: flex;
    max-width: 1000px;
    margin: 20px auto 0;

    figure {
        width: 40px;
        height: 50px;
        margin-right: 15px;

        img {
            object-fit: contain;
        }
    }

    input {
        width: 100%;
        padding: 20px;
        border: 1px solid #333;
        font-size: 16px;
    }
}

.dots {
    position: absolute;
    right: 7px;
    cursor: pointer;
}

.edit {
    position: absolute;
    display: flex;
    padding: 5px;
    border: 1px solid gray;
    height: 55%;
    top: -25px;
    right: -38px;
    background-color: #F7F2ED;
    z-index: 2;

    i {
        cursor: pointer;
    }

    .pen {
        margin-right: 8px;
    }
}

.edit-btns {
    display: flex;
    position: absolute;
    bottom: 2px;
    right: -3px;

    .btn {
        color: #fff;
        padding: 5px;
        border: 1px solid #474F4E;
        border-radius: 3px;
        cursor: pointer;
        transition: 0.3s;
        background-color: $mainColor;
        margin-right: 5px;

        &:hover {
            background-color: #DB760A;
        }
    }
}